name: Python CI

on:
  push:
    branches: [ "main", "v2-development" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Import test
        run: |
          python -c "import codes.logger"
          python -c "import codes.threads"
          python -c "import codes.gui"
